cask "starport" do
  version "@VERSION@"

  on_arm do
    on_macos do
      sha256 "@CHECKSUM@"
    end
    on_linux do
      sha256 "@CHECKSUM@"
    end
  end
  on_intel do
    on_macos do
      sha256 "@CHECKSUM@"
    end
    on_linux do
      sha256 "@CHECKSUM@"
    end
  end

  binary "starport"
  manpage "manpages/starport.1"
  bash_completion "completions/starport.bash"
  zsh_completion "completions/starport.zsh"
  fish_completion "completions/starport.fish"

  postflight do
    if OS.mac? && system_command("/usr/bin/xattr", args: ["-h"]).exit_status == 0
      system_command "/usr/bin/xattr", args: ["-dr", "com.apple.quarantine", "#{staged_path}/starport"], sudo: false
    end
  end
end
